<div>
    <h1>CODER - Chat</h1>
    <input type="text" name="username" id="username" placeholder="Usuario" style="width: 260px;">
    <input type="text" name="message" id="message" placeholder="Mensaje" style="width: 260px;">
    <button onClick="sendMessage()">Enviar</button>
    <p id="received_messages"></p>
</div>

<!-- Agregamos sweetalert para tener ventanas emergentes visualmente más atractivas -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script> {{!--
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script> --}}
<!-- Colocamos el código del cliente de socket.io en un archivo separado, para más orden -->
<script src="/static/js/chat.js"></script>