<div>
    <h1>Productos</h1>
    <ul id="listaProductos"></ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socketClient = io();

    // Manejar la recepción de productos desde el servidor
    socketClient.on('productos', (productos) => {
        const listaProductos = document.getElementById('listaProductos');
        listaProductos.innerHTML = productos.map(producto => 
        `                <div>
                <h2>${producto.title}</h2>
                <p>Descripción: ${producto.description}</p>
                <p>Código: ${producto.code}</p>
                <p>Precio: ${producto.price}</p>
                <p>Stock: ${producto.stock}</p>
                <p>Categoría: ${producto.category}</p>
                <p>Estado: ${producto.status}</p>
                <p>Fotos:</p>
                <ul>
                    ${producto.fotos.map(foto => `<li>${foto}</li>`).join('')}
                </ul>
                <p>ID: ${producto.id}</p>
            </div>
        `).join('');
    });
</script>
